
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.h1Title {
    color: #9555af;
}

.entryForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 50px;
}

.button {
    color: #ffffff;
    background-color: #9555af;
    margin: 20px;
}